<template>
  <div class="posts-view">
    <div class="posts-container">
      <div class="post"
           v-for="post in posts"
           :key="post._id">
        <h3>{{ post.title }}</h3>
        <p v-html="post.description"></p>
      </div>
    </div>
    <div class="post-add-form">
      <h2>Добавление поста:</h2>
      <form @submit="addPostFormHandler">
        <label>
          Название:<br>
          <input type="text" v-model="added.title">
        </label>
        <br/>
        <br/>
        <label>
          Содержимое:<br>
          <textarea v-model="added.description"></textarea>
        </label>
        <br>
        <br>
        <button type="submit">+ Добавить</button>
      </form>
    </div>
  </div>
</template>

<script>
import PostsService from '@/services/PostsService';

export default {
  name: 'Posts',
  data: () => ({
    posts: [],
    added: {
      title: '',
      description: '',
    },
  }),
  methods: {
    async fetchAllPosts() {
      const res = await PostsService.fetchPosts();
      this.posts = res.data.posts;
    },
    async addPostFormHandler(e) {
      e.preventDefault();
      const { title, description } = this.added;
      const res = await PostsService.createPost({ title, description });
      if (res.data.success) {
        this.fetchAllPosts();
      }
    },
  },
  mounted() {
    this.fetchAllPosts();
  },
};
</script>

<style lang="scss" scoped>
</style>
