<template>
  <div class="register-view">
    <h2>Форма регистрации</h2>
    <form @submit="registerFormHandler">
      <label>
        E-mail:<br>
        <input type="email" v-model="register.email">
      </label>
      <br/>
      <br/>
      <label>
        Пароль:<br>
        <input type="password" v-model="register.password">
      </label>
      <br>
      <br>
      <button type="submit">+ Добавить</button>
    </form>
  </div>
</template>

<script>
import UserService from '@/services/UserService';

export default {
  name: 'Register',
  data: () => ({
    register: {
      email: '',
      password: '',
    },
  }),
  methods: {
    async registerFormHandler(e) {
      e.preventDefault();
      const { email, password } = this.register;
      const res = await UserService.register({ email, password });
      if (res.data.success) {
        window.location.href = '/signin';
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
