<template>
  <div class="signin-view">
    <h2>Форма входа</h2>
    <form @submit="signInFormHandler">
      <label>
        E-mail:<br>
        <input type="email" v-model="signIn.email">
      </label>
      <br/>
      <br/>
      <label>
        Пароль:<br>
        <input type="password" v-model="signIn.password">
      </label>
      <br>
      <br>
      <button type="submit">+ Добавить</button>
    </form>
  </div>
</template>

<script>
import UserService from '@/services/UserService';

export default {
  name: 'SignIn',
  data: () => ({
    signIn: {
      email: '',
      password: '',
    },
  }),
  methods: {
    async signInFormHandler(e) {
      e.preventDefault();
      const { email, password } = this.signIn;
      const res = await UserService.signIn({ email, password });
      if (res.data.success) {
        localStorage.setItem('accessToken', res.data.accessToken);
        localStorage.setItem('refreshToken', res.data.refreshToken);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
